* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {    
    /* FONTS */
    --font-primary: 'Roboto', sans-serif;
    --border-color: black;
    --box-bg-color: white;
    --text-color: black;
}


body {
    box-sizing: border-box;
    font-family: var(--font-primary);
    margin: 0;
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
}


#loader {
    display: none;
}

#loader-img {
    width: 30px;
    display: block;
    margin: 1.5em auto;
}

#post-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}

.avatar {
    width: 100px;
    border: 4px solid #f1faee;
    margin: 20px auto 0;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.5);
}

.quote-wrapper {
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    position: relative;
    background: rgba(22, 43, 72, 0.85);
}

.quote {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    line-height: 1.8em;
}

.name-wrapper {
    text-align: right;
}
.name-span {
    color: white;
    font-size: 12px;
    line-height: 1.4em;
    padding: 5px;
    background: rgba(250, 0, 0, 0.75);
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.title  {
    display: none;
    background-color: var(--box-bg-color);
    border: 3px solid var(--border-color);
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    display: inline;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.5);
    text-align: center;
}


.description {
    text-transform: uppercase;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
    padding: 8px 16px;
    background-color: var(--box-bg-color);
    border: 3px solid var(--border-color);
}




